@using System.Collections;
@using SurfUPWeb.Models.Domain;
@model SurfUPWeb.Models.UpdateSurfBoardViewModel;

@{
}
<h1><b>@Model.Name</b></h1>

<form method="post" action="View" class="mt-5" enctype="multipart/form-data">
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
            <img src="@Model.Url" class="d-block w-20" alt="@Model.Name" style="float:left"> 
                <br />
            <br />
            <br />
                <div class="row" >
                    <div class="mb-3">
                        @if (!(User.IsInRole("admin")))
                        {
                            <label for="" class="form-label" style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price:</b></label>
                        } 
                        @if (User.IsInRole("admin"))
                        {
                            <b class="form-label" style="font-size:20px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price:</b> 
                            <input type="number" for="" class="form-label" style="font-size:20px" asp-for="Name" required="required" pattern="[A-Za-z0-9\s]{1,20}" value="@Model.Price€">
                        }
                    <label for="" class="form-label" style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Price:</b> @Model.Price€</label>
                    </div>
                    <div class="mb-3">
                    <label for="" class="form-label" style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Type:</b> @Model.Type</label>

                    </div>
                    <div class="mb-3">
                    <label for="" class="form-label" style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Width (Inches):</b> @Model.Width</label>

                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label" style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Length:</b> @Model.LengthFeet' @Model.LengthInch"</label>

                    </div>
                    <div class="mb-3">
                    <label for="" class="form-label" style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thickness (Inches):</b> @Model.Thicc</label>

                    </div>
                    <div class="mb-3">
                    <label for="" class="form-label" style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Volume(Liter):</b> @Model.Volume</label>

                    </div>
                    <div class="mb-3">
                    <label for="" class="form-label" style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Exstra:</b> @Model.Exstra</label>

                    </div>
                
                    <div class="mb-3">
                        <label for="" class="form-label" style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Costumer Name:</b></label>
                        <input type="text" class="form-control" asp-for="@Model.CostumerReservation.CostumerName" required="required" pattern="[A-Za-z\s]{1,40}">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label" style="font-size:20px"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pick A Date: </b></label>
                        <input type="date" class="form-control" asp-for="@Model.CostumerReservation.ReservationDate" required="required">
                    </div>
                    <div class="mb-3">
                        <input type="text" value="@Model.ID" style="display:none; readonly  class="form-control" asp-for="@Model.CostumerReservation.SurfboardID">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary" asp-action="View" asp-controller="SurfBoards">Rent SurfBoard</button>
                    </div> 
                    @if (User.IsInRole("admin"))
                    {
                        <button type="submit" class="btn btn-primary" asp-action="View" asp-controller="SurfBoards">Rent SurfBoard</button>
                    }

                </div>
            </div>

            
    </div>

        <button type="submit" class="btn btn-primary" 
                asp-action="Update"
                asp-controller="SurfBoards"
                >Update
        </button>
    <button type="submit" class="btn btn-danger"
            asp-action="Delete"
            asp-controller="SurfBoards">Delete</button>

    </div>
</form>

@section Scripts{
    <script type="text/javascript">
        function openSuccessModal(strMessage){
            var myDiv = document.getElementById("MyModalSuccessAlertBody");
            myDiv.innerHTML = strMessage;
            $('#myModalSuccess').modal('show');
        }

        $(document).ready(function(){
            var msg="@TempData["SuccessMessage"]";
            if(msg)
            openSuccessModal(msg);
        });

    </script>
}




