@model IEnumerable<SurfUPWeb.Areas.Identity.Data.ApplicationUsers>

@{
    ViewBag.Title = "Application Users";
}

<h2>Application Users</h2>

@using (Html.BeginForm("Index", "Users", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<!--Show a table of users that have been searched up by admin-->
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var users in Model)
        {
            <tr>
                <td>@users.Id</td>
                <td>@users.Email</td>
                <td>
                    <!--Delete button for each user exept if it is an admin account so admins can delete uders-->
                    <form asp-action="Delete">
                        @if (@users.Email != "SurfUpAdmin@gmail.com")
                        {
                            <button class="btn btn-danger" type="submit" value="" asp-controller="Users" asp-action="Delete" asp-route-id="@users.Id">
                            Delete
                            </button>
                        }
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>